### Server config
server.port=8080

### Application config
spring.application.name=Trousseau

### Database config
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/trousseau
spring.datasource.username=postgres
spring.datasource.password=postgres

### Liquibase config
spring.liquibase.enabled=true
spring.liquibase.change-log=classpath:/liquibase/db-changelog.xml

### S3 storage config
s3.url=http://localhost:9000
s3.bucket=trousseau
s3.access-key=minioadmin
s3.secret-key=minioadmin

### Quartz config
spring.quartz.job-store-type=jdbc
spring.quartz.jdbc.initialize-schema=always
spring.quartz.properties.org.quartz.jobStore.driverDelegateClass=org.quartz.impl.jdbcjobstore.PostgreSQLDelegate

### JWT config
jwt.token.secret=your-super-secret-key
jwt.token.token-expiration-millis=86400000

### Messaging config
messaging.enabled=false
messaging.filepath=/path/to/messaging/config/file
